In [630]:
import pandas as pd
import os
import numpy as np
import re
from collections import Counter
import matplotlib.pyplot as plt 
import seaborn as sb
from bs4 import BeautifulSoup
from urllib.request import urlopen
import requests

## CLEANING THE DATAFRAMES ##

In [631]:
df = pd.read_csv("../data/merged.csv")
df

,Unnamed: 0.1,Brand,BrandOriginCountry,BrandOriginRegion,BrandSector,BrandSubSector,Rank2001,Rank2002,Rank2003,Rank2004,...,Growth,Search,Total,Unnamed: 0,Rank,Mcap $,Type,MFW,PWF,NYFF
0,0,Hermes,France,Europe,Fashion,Luxury,NaN,NaN,73.0,79.0,...,100.00,87.88,373.85,3.0,3.0,$130.4 b,Public,no,yes,no
1,1,Gucci,Italy,Europe,Fashion,Luxury,50.0,52.0,53.0,59.0,...,23.56,85.14,362.31,NaN,NaN,NaN,NaN,yes,no,yes
2,2,Louis Vuitton,France,Europe,Fashion,Luxury,38.0,41.0,45.0,44.0,...,13.68,100.00,250.64,NaN,NaN,NaN,NaN,no,yes,yes
3,3,Chanel,France,Europe,Fashion,Luxury,61.0,64.0,61.0,64.0,...,2.68,30.78,243.13,9.0,9.0,$57.46 b,Private,no,yes,yes
4,4,Coach,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.00,41.18,171.37,NaN,NaN,NaN,NaN,no,no,yes
5,5,Prada,Italy,Europe,Fashion,Luxury,NaN,86.0,87.0,95.0,...,56.09,16.69,166.68,23.0,23.0,$12.0 b,Public,yes,no,yes
6,6,Fendi,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,65.87,16.09,165.80,NaN,NaN,NaN,NaN,yes,no,yes
7,7,Dior,France,Europe,Fashion,Luxury,NaN,NaN,NaN,NaN,...,1.58,18.14,159.24,NaN,NaN,NaN,NaN,no,yes,no
8,8,Calvin Klein,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8.06,50.99,157.13,NaN,NaN,NaN,NaN,no,no,no
9,9,Ted Baker,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,48.81,34.81,139.14,178.0,178.0,$224 m,Public,no,no,no
10,10,Versace,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,13.95,30.17,133.68,NaN,NaN,NaN,NaN,no,no,yes
11,11,Michael Kors,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.00,49.79,131.69,NaN,NaN,NaN,NaN,no,no,no
12,12,Cartier,Switzerland,Europe,Fashion,Luxury,NaN,NaN,NaN,91.0,...,19.37,16.83,122.84,NaN,NaN,NaN,NaN,no,no,no
13,13,Burberry,U.K.,Europe,Fashion,Luxury,NaN,NaN,NaN,NaN,...,0.00,32.75,120.36,NaN,NaN,NaN,NaN,no,no,yes
14,14,Ralph Lauren,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.00,47.83,119.84,41.0,41.0,$5.89 b,Public,no,no,yes
15,15,Tory Burch,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.00,25.57,112.29,50.0,50.0,$5.16 b,Private,no,no,yes
16,16,Armani,Italy,Europe,Fashion,Luxury,91.0,100.0,NaN,93.0,...,6.49,11.69,106.71,20.0,20.0,$14.7 b,Private,no,no,no
17,17,Yves Saint Laurent,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.00,11.54,102.60,NaN,NaN,NaN,NaN,no,no,no
18,18,Breitling,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,31.91,8.96,97.48,128.0,128.0,$1.70 b,Private,no,no,no
19,19,Jovani,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,10.29,1.77,85.55,NaN,NaN,NaN,NaN,no,no,no
20,20,Givenchy,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,7.61,11.87,84.54,NaN,NaN,NaN,NaN,no,yes,yes
21,21,Kenzo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.00,6.72,83.97,NaN,NaN,NaN,NaN,no,no,yes
22,22,Chloe,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.00,9.85,82.24,NaN,NaN,NaN,NaN,no,yes,no
23,23,DKNY,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.00,6.38,80.20,NaN,NaN,NaN,NaN,no,no,no
24,24,Christian Louboutin,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.00,11.71,79.39,131.0,131.0,$1.54 b,Private,no,no,no
25,25,Salvatore Ferragamo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,9.64,5.13,78.51,86.0,86.0,$2.48 b,Public,no,no,no
26,26,Dolce & Gabbana,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.69,1.99,58.28,46.0,46.0,$5.52 b,Private,yes,no,yes
27,27,Dsquared2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.00,3.13,57.98,NaN,NaN,NaN,NaN,no,no,yes
28,28,Paul Smith,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.09,11.19,47.42,139.0,139.0,$1.23 b,Private,no,no,no
29,29,Lanvin,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.00,1.26,24.10,NaN,NaN,NaN,NaN,no,yes,yes

In [632]:
df.columns

Index(['Unnamed: 0.1', 'Brand', 'BrandOriginCountry', 'BrandOriginRegion',
       'BrandSector', 'BrandSubSector', 'Rank2001', 'Rank2002', 'Rank2003',
       'Rank2004', 'Rank2005', 'Rank2006', 'Rank2007', 'Rank2008', 'Rank2009',
       'Rank2010', 'Rank2011', 'Rank2012', 'Rank2013', 'Rank2014', 'Rank2015',
       'Rank2016', 'Rank2017', 'Rank2018', 'Rank2019', 'Rank2020', 'Rank2021',
       'Equity2001', 'Equity2002', 'Equity2003', 'Equity2004', 'Equity2005',
       'Equity2006', 'Equity2007', 'Equity2008', 'Equity2009', 'Equity2010',
       'Equity2011', 'Equity2012', 'Equity2013', 'Equity2014', 'Equity2015',
       'Equity2016', 'Equity2017', 'Equity2018', 'Equity2019', 'Equity2020',
       'Equity2021', 'GrowthRate2001', 'GrowthRate2002', 'GrowthRate2003',
       'GrowthRate2004', 'GrowthRate2005', 'GrowthRate2006', 'GrowthRate2007',
       'GrowthRate2008', 'GrowthRate2009', 'GrowthRate2010', 'GrowthRate2011',
       'GrowthRate2012', 'GrowthRate2013', 'GrowthRate2014', 'GrowthRate2015',
       'GrowthRate2016', 'GrowthRate2017', 'GrowthRate2018', 'GrowthRate2019',
       'GrowthRate2020', 'GrowthRate2021', 'Social Visibility',
       'Web Visibility', 'Sentiment', 'Growth', 'Search', 'Total',
       'Unnamed: 0', 'Rank', 'Mcap $', 'Type', 'MFW', 'PWF', 'NYFF'],
      dtype='object')

    ''' I'm dropping the columns "Unnamed: 0.1", "Unnamed: 0" as they only provide repeated information'''

In [633]:
#df = df.drop(columns=["Unnamed: 0.1", "Unnamed: 0"])
#df

    ''' Also dropping the rows pertaining to brand names not retail specific.'''

In [634]:
'''dropping_rows = [24, 18, 12]
df = df.drop(index=dropping_rows)
df.reset_index(drop=True, inplace=True)
df'''

'dropping_rows = [24, 18, 12]\ndf = df.drop(index=dropping_rows)\ndf.reset_index(drop=True, inplace=True)\ndf'

    '''Let's explore the columns, because there's a lot of them that are not going to be needed for the analysis so we need to decide which columns to drop. '''

I don't really need the rankings from the 2000's as all the other data is more actual. So I'll be dropping the columns of the rankings except the last 5 years.

In [635]:
'''df = df.drop(columns=["Rank2001", "Rank2002", "Rank2003", "Rank2004", "Rank2005", "Rank2006", "Rank2007", "Rank2008", "Rank2009", "Rank2010", "Rank2011", "Rank2012", "Rank2013", "Rank2014", "Rank2015", "Rank2016"])
df.columns'''

'df = df.drop(columns=["Rank2001", "Rank2002", "Rank2003", "Rank2004", "Rank2005", "Rank2006", "Rank2007", "Rank2008", "Rank2009", "Rank2010", "Rank2011", "Rank2012", "Rank2013", "Rank2014", "Rank2015", "Rank2016"])\ndf.columns'

Same with equity and growth.

In [636]:
'''df = df.drop(columns=["Equity2001", "Equity2002", "Equity2003", "Equity2004", "Equity2005", "Equity2006", "Equity2007", "Equity2008", "Equity2009", "Equity2010", "Equity2011", "Equity2012", "Equity2013", "Equity2014", "Equity2015", "Equity2016"])
df.columns'''

'df = df.drop(columns=["Equity2001", "Equity2002", "Equity2003", "Equity2004", "Equity2005", "Equity2006", "Equity2007", "Equity2008", "Equity2009", "Equity2010", "Equity2011", "Equity2012", "Equity2013", "Equity2014", "Equity2015", "Equity2016"])\ndf.columns'

In [637]:
'''df = df.drop(columns=["GrowthRate2001", "GrowthRate2002", "GrowthRate2003", "GrowthRate2004", "GrowthRate2005", "GrowthRate2006", "GrowthRate2007", "GrowthRate2008", "GrowthRate2009", "GrowthRate2010", "GrowthRate2011", "GrowthRate2012", "GrowthRate2013", "GrowthRate2014", "GrowthRate2015", "GrowthRate2016"])
df.columns'''

'df = df.drop(columns=["GrowthRate2001", "GrowthRate2002", "GrowthRate2003", "GrowthRate2004", "GrowthRate2005", "GrowthRate2006", "GrowthRate2007", "GrowthRate2008", "GrowthRate2009", "GrowthRate2010", "GrowthRate2011", "GrowthRate2012", "GrowthRate2013", "GrowthRate2014", "GrowthRate2015", "GrowthRate2016"])\ndf.columns'

    ''' It's time to change some column names to make it more comprehensible. '''

In [638]:
#df.rename(columns={"Social Visibility": "SocialVisibility2023"}, inplace=True)

In [639]:
'''df.rename(columns={"Web Visibility": "WebVisibility2023"}, inplace=True)
df.rename(columns={"Sentiment": "Sentiment2023"}, inplace=True)
df.rename(columns={"Growth": "Growth2023"}, inplace=True)
df.rename(columns={"Search": "Search2023"}, inplace=True)
df.rename(columns={"Total": "Total2023"}, inplace=True)
df.rename(columns={"Rank": "Rank2023"}, inplace=True)
df.rename(columns={"Mcap $": "Mcap2023billions"}, inplace=True)
df.rename(columns={"Type": "pub_priv"}, inplace=True)
df.rename(columns={"MFW": "MFW2023"}, inplace=True)
df.rename(columns={"PWF": "PFW2023"}, inplace=True)
df.rename(columns={"NYFF": "NYFW2023"}, inplace=True)'''

'df.rename(columns={"Web Visibility": "WebVisibility2023"}, inplace=True)\ndf.rename(columns={"Sentiment": "Sentiment2023"}, inplace=True)\ndf.rename(columns={"Growth": "Growth2023"}, inplace=True)\ndf.rename(columns={"Search": "Search2023"}, inplace=True)\ndf.rename(columns={"Total": "Total2023"}, inplace=True)\ndf.rename(columns={"Rank": "Rank2023"}, inplace=True)\ndf.rename(columns={"Mcap $": "Mcap2023billions"}, inplace=True)\ndf.rename(columns={"Type": "pub_priv"}, inplace=True)\ndf.rename(columns={"MFW": "MFW2023"}, inplace=True)\ndf.rename(columns={"PWF": "PFW2023"}, inplace=True)\ndf.rename(columns={"NYFF": "NYFW2023"}, inplace=True)'

In [640]:
#df

## Encapsulate ##

''' Also decided to drop Brand Sector and Subsector as there's only going to be a unique value, because this project only targets a Sector and Subsector, those being Fashion and Luxury.'''

In [641]:
''' Function containing all the first cleaning steps for this dataset.'''

def clean_dataset (df):
    df.drop(columns=["Unnamed: 0.1", "Unnamed: 0"], inplace=True)
    dropping_rows = [24, 18, 12]
    df.drop(index=dropping_rows, inplace=True)
    df.reset_index(drop=True, inplace=True)
    df.drop(columns=["Rank2001", "Rank2002", "Rank2003", "Rank2004", "Rank2005", "Rank2006", "Rank2007", "Rank2008", "Rank2009", "Rank2010", "Rank2011", "Rank2012", "Rank2013", "Rank2014", "Rank2015", "Rank2016"], inplace=True)
    df.drop(columns=["Equity2001", "Equity2002", "Equity2003", "Equity2004", "Equity2005", "Equity2006", "Equity2007", "Equity2008", "Equity2009", "Equity2010", "Equity2011", "Equity2012", "Equity2013", "Equity2014", "Equity2015", "Equity2016"], inplace=True)
    df.drop(columns=["GrowthRate2001", "GrowthRate2002", "GrowthRate2003", "GrowthRate2004", "GrowthRate2005", "GrowthRate2006", "GrowthRate2007", "GrowthRate2008", "GrowthRate2009", "GrowthRate2010", "GrowthRate2011", "GrowthRate2012", "GrowthRate2013", "GrowthRate2014", "GrowthRate2015", "GrowthRate2016"], inplace=True)
    df.drop(columns=["Rank", "BrandSector", "BrandSubSector"], inplace=True)
    df.rename(columns={"Social Visibility": "SocialVisibility2023"}, inplace=True)
    df.rename(columns={"Web Visibility": "WebVisibility2023"}, inplace=True)
    df.rename(columns={"Sentiment": "Sentiment2023"}, inplace=True)
    df.rename(columns={"Growth": "Growth2023"}, inplace=True)
    df.rename(columns={"Search": "Search2023"}, inplace=True)
    df.rename(columns={"Total": "Rank2023"}, inplace=True)
    df.rename(columns={"Mcap $": "Mcap2023billions"}, inplace=True)
    df.rename(columns={"Type": "pub_priv"}, inplace=True)
    df.rename(columns={"MFW": "MFW2023"}, inplace=True)
    df.rename(columns={"PWF": "PFW2023"}, inplace=True)
    df.rename(columns={"NYFF": "NYFW2023"}, inplace=True)
    
    return df

In [642]:
clean_df = clean_dataset(df)
clean_df.sample(3)

,Brand,BrandOriginCountry,BrandOriginRegion,Rank2017,Rank2018,Rank2019,Rank2020,Rank2021,Equity2017,Equity2018,...,WebVisibility2023,Sentiment2023,Growth2023,Search2023,Rank2023,Mcap2023billions,pub_priv,MFW2023,PFW2023,NYFW2023
17,Jovani,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.87,72.29,10.29,1.77,85.55,NaN,NaN,no,no,no
11,Michael Kors,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,17.59,58.40,0.00,49.79,131.69,NaN,NaN,no,no,no
15,Armani,Italy,Europe,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,27.52,53.71,6.49,11.69,106.71,$14.7 b,Private,no,no,no

## Confirm data type and change if needed ##

In [643]:
clean_df["Rank2017"].dtype

dtype('float64')

In [644]:
clean_df["Equity2017"].dtype

dtype('float64')

In [645]:
clean_df["GrowthRate2017"].dtype

dtype('float64')

In [646]:
clean_df["WebVisibility2023"].dtype

dtype('float64')

In [647]:
clean_df["Sentiment2023"].dtype

dtype('float64')

In [648]:
clean_df["Rank2023"].dtype

dtype('float64')

In [649]:
clean_df["Mcap2023billions"].dtype

dtype('O')

    ''' Only need to change the "Mcap2023billions" to be a float.'''

In [650]:
''' Function to extract digits and transform them to floats.'''

def clean_cap(cap):
    p_match = re.search(r'\$?(\d+\.\d+)\s*b', str(cap))
    if p_match:
        digit = p_match.group(1)
        return float(digit)
    else:
        return 'unknown'

In [651]:
#clean_df["Mcap2023billions"] = clean_df["Mcap2023billions"].apply(clean_cap)
#clean_df

In [652]:
''' Function to apply the regex function to the Market Capitalization and then save the final df to csv.'''

def extract_clean(clean_df):
    clean_df["Mcap2023billions"] = clean_df["Mcap2023billions"].apply(clean_cap)
    clean_df.to_csv(f"../data/Luxury_Fashion.csv", index=False)
    return clean_df

In [653]:
lf = extract_clean(clean_df)
lf.sample(15)

,Brand,BrandOriginCountry,BrandOriginRegion,Rank2017,Rank2018,Rank2019,Rank2020,Rank2021,Equity2017,Equity2018,...,WebVisibility2023,Sentiment2023,Growth2023,Search2023,Rank2023,Mcap2023billions,pub_priv,MFW2023,PFW2023,NYFW2023
22,Salvatore Ferragamo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8.06,54.06,9.64,5.13,78.51,2.48,Public,no,no,no
8,Calvin Klein,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,22.25,62.08,8.06,50.99,157.13,unknown,NaN,no,no,no
3,Chanel,France,Europe,NaN,23.0,22.0,21.0,22.0,NaN,20005.0,...,90.20,48.21,2.68,30.78,243.13,57.46,Private,no,yes,yes
16,Yves Saint Laurent,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,33.01,36.31,0.00,11.54,102.60,unknown,NaN,no,no,no
17,Jovani,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.87,72.29,10.29,1.77,85.55,unknown,NaN,no,no,no
5,Prada,Italy,Europe,94.0,95.0,100.0,99.0,94.0,4716.0,4812.0,...,34.19,38.19,56.09,16.69,166.68,12.0,Public,yes,no,yes
6,Fendi,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,14.63,58.47,65.87,16.09,165.80,unknown,NaN,yes,no,yes
14,Tory Burch,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5.56,79.04,0.00,25.57,112.29,5.16,Private,no,no,yes
4,Coach,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,56.64,64.26,0.00,41.18,171.37,unknown,NaN,no,no,yes
21,DKNY,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.49,67.95,0.00,6.38,80.20,unknown,NaN,no,no,no
10,Versace,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,28.79,39.09,13.95,30.17,133.68,unknown,NaN,no,no,yes
15,Armani,Italy,Europe,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,27.52,53.71,6.49,11.69,106.71,14.7,Private,no,no,no
13,Ralph Lauren,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,26.28,37.34,0.00,47.83,119.84,5.89,Public,no,no,yes
0,Hermes,France,Europe,32.0,32.0,28.0,28.0,23.0,14210.0,16372.0,...,67.57,100.00,100.00,87.88,373.85,130.4,Public,no,yes,no
20,Chloe,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,11.01,58.93,0.00,9.85,82.24,unknown,NaN,no,yes,no