In [655]:
import pandas as pd
import os
import numpy as np
import re
from collections import Counter
import matplotlib.pyplot as plt 
import seaborn as sb
from bs4 import BeautifulSoup
from urllib.request import urlopen
import requests

## CLEANING THE DATAFRAMES ##

In [656]:
df = pd.read_csv("../data/merged.csv")
df.columns

Index(['Unnamed: 0', 'Brand', 'BrandOriginCountry', 'BrandOriginRegion',
       'BrandSector', 'BrandSubSector', 'Rank2001', 'Rank2002', 'Rank2003',
       'Rank2004', 'Rank2005', 'Rank2006', 'Rank2007', 'Rank2008', 'Rank2009',
       'Rank2010', 'Rank2011', 'Rank2012', 'Rank2013', 'Rank2014', 'Rank2015',
       'Rank2016', 'Rank2017', 'Rank2018', 'Rank2019', 'Rank2020', 'Rank2021',
       'Equity2001', 'Equity2002', 'Equity2003', 'Equity2004', 'Equity2005',
       'Equity2006', 'Equity2007', 'Equity2008', 'Equity2009', 'Equity2010',
       'Equity2011', 'Equity2012', 'Equity2013', 'Equity2014', 'Equity2015',
       'Equity2016', 'Equity2017', 'Equity2018', 'Equity2019', 'Equity2020',
       'Equity2021', 'GrowthRate2001', 'GrowthRate2002', 'GrowthRate2003',
       'GrowthRate2004', 'GrowthRate2005', 'GrowthRate2006', 'GrowthRate2007',
       'GrowthRate2008', 'GrowthRate2009', 'GrowthRate2010', 'GrowthRate2011',
       'GrowthRate2012', 'GrowthRate2013', 'GrowthRate2014', 'GrowthRate2015',
       'GrowthRate2016', 'GrowthRate2017', 'GrowthRate2018', 'GrowthRate2019',
       'GrowthRate2020', 'GrowthRate2021', 'Social Visibility',
       'Web Visibility', 'Sentiment', 'Growth', 'Search', 'Total', 'Rank',
       'Mcap $', 'Type', 'MFW', 'PWF', 'NYFF'],
      dtype='object')

In [657]:
df.columns

Index(['Unnamed: 0', 'Brand', 'BrandOriginCountry', 'BrandOriginRegion',
       'BrandSector', 'BrandSubSector', 'Rank2001', 'Rank2002', 'Rank2003',
       'Rank2004', 'Rank2005', 'Rank2006', 'Rank2007', 'Rank2008', 'Rank2009',
       'Rank2010', 'Rank2011', 'Rank2012', 'Rank2013', 'Rank2014', 'Rank2015',
       'Rank2016', 'Rank2017', 'Rank2018', 'Rank2019', 'Rank2020', 'Rank2021',
       'Equity2001', 'Equity2002', 'Equity2003', 'Equity2004', 'Equity2005',
       'Equity2006', 'Equity2007', 'Equity2008', 'Equity2009', 'Equity2010',
       'Equity2011', 'Equity2012', 'Equity2013', 'Equity2014', 'Equity2015',
       'Equity2016', 'Equity2017', 'Equity2018', 'Equity2019', 'Equity2020',
       'Equity2021', 'GrowthRate2001', 'GrowthRate2002', 'GrowthRate2003',
       'GrowthRate2004', 'GrowthRate2005', 'GrowthRate2006', 'GrowthRate2007',
       'GrowthRate2008', 'GrowthRate2009', 'GrowthRate2010', 'GrowthRate2011',
       'GrowthRate2012', 'GrowthRate2013', 'GrowthRate2014', 'GrowthRate2015',
       'GrowthRate2016', 'GrowthRate2017', 'GrowthRate2018', 'GrowthRate2019',
       'GrowthRate2020', 'GrowthRate2021', 'Social Visibility',
       'Web Visibility', 'Sentiment', 'Growth', 'Search', 'Total', 'Rank',
       'Mcap $', 'Type', 'MFW', 'PWF', 'NYFF'],
      dtype='object')

    ''' I'm dropping the columns "Unnamed: 0.1", "Unnamed: 0" as they only provide repeated information'''

In [658]:
#df = df.drop(columns=["Unnamed: 0.1", "Unnamed: 0"])
#df

    ''' Also dropping the rows pertaining to brand names not retail specific.'''

In [659]:
'''dropping_rows = [24, 18, 12]
df = df.drop(index=dropping_rows)
df.reset_index(drop=True, inplace=True)
df'''

'dropping_rows = [24, 18, 12]\ndf = df.drop(index=dropping_rows)\ndf.reset_index(drop=True, inplace=True)\ndf'

    '''Let's explore the columns, because there's a lot of them that are not going to be needed for the analysis so we need to decide which columns to drop. '''

I don't really need the rankings from the 2000's as all the other data is more actual. So I'll be dropping the columns of the rankings except the last 5 years.

In [660]:
'''df = df.drop(columns=["Rank2001", "Rank2002", "Rank2003", "Rank2004", "Rank2005", "Rank2006", "Rank2007", "Rank2008", "Rank2009", "Rank2010", "Rank2011", "Rank2012", "Rank2013", "Rank2014", "Rank2015", "Rank2016"])
df.columns'''

'df = df.drop(columns=["Rank2001", "Rank2002", "Rank2003", "Rank2004", "Rank2005", "Rank2006", "Rank2007", "Rank2008", "Rank2009", "Rank2010", "Rank2011", "Rank2012", "Rank2013", "Rank2014", "Rank2015", "Rank2016"])\ndf.columns'

Same with equity and growth.

In [661]:
'''df = df.drop(columns=["Equity2001", "Equity2002", "Equity2003", "Equity2004", "Equity2005", "Equity2006", "Equity2007", "Equity2008", "Equity2009", "Equity2010", "Equity2011", "Equity2012", "Equity2013", "Equity2014", "Equity2015", "Equity2016"])
df.columns'''

'df = df.drop(columns=["Equity2001", "Equity2002", "Equity2003", "Equity2004", "Equity2005", "Equity2006", "Equity2007", "Equity2008", "Equity2009", "Equity2010", "Equity2011", "Equity2012", "Equity2013", "Equity2014", "Equity2015", "Equity2016"])\ndf.columns'

In [662]:
'''df = df.drop(columns=["GrowthRate2001", "GrowthRate2002", "GrowthRate2003", "GrowthRate2004", "GrowthRate2005", "GrowthRate2006", "GrowthRate2007", "GrowthRate2008", "GrowthRate2009", "GrowthRate2010", "GrowthRate2011", "GrowthRate2012", "GrowthRate2013", "GrowthRate2014", "GrowthRate2015", "GrowthRate2016"])
df.columns'''

'df = df.drop(columns=["GrowthRate2001", "GrowthRate2002", "GrowthRate2003", "GrowthRate2004", "GrowthRate2005", "GrowthRate2006", "GrowthRate2007", "GrowthRate2008", "GrowthRate2009", "GrowthRate2010", "GrowthRate2011", "GrowthRate2012", "GrowthRate2013", "GrowthRate2014", "GrowthRate2015", "GrowthRate2016"])\ndf.columns'

    ''' It's time to change some column names to make it more comprehensible. '''

In [663]:
#df.rename(columns={"Social Visibility": "SocialVisibility2023"}, inplace=True)

In [664]:
'''df.rename(columns={"Web Visibility": "WebVisibility2023"}, inplace=True)
df.rename(columns={"Sentiment": "Sentiment2023"}, inplace=True)
df.rename(columns={"Growth": "Growth2023"}, inplace=True)
df.rename(columns={"Search": "Search2023"}, inplace=True)
df.rename(columns={"Total": "Total2023"}, inplace=True)
df.rename(columns={"Rank": "Rank2023"}, inplace=True)
df.rename(columns={"Mcap $": "Mcap2023billions"}, inplace=True)
df.rename(columns={"Type": "pub_priv"}, inplace=True)
df.rename(columns={"MFW": "MFW2023"}, inplace=True)
df.rename(columns={"PWF": "PFW2023"}, inplace=True)
df.rename(columns={"NYFF": "NYFW2023"}, inplace=True)'''

'df.rename(columns={"Web Visibility": "WebVisibility2023"}, inplace=True)\ndf.rename(columns={"Sentiment": "Sentiment2023"}, inplace=True)\ndf.rename(columns={"Growth": "Growth2023"}, inplace=True)\ndf.rename(columns={"Search": "Search2023"}, inplace=True)\ndf.rename(columns={"Total": "Total2023"}, inplace=True)\ndf.rename(columns={"Rank": "Rank2023"}, inplace=True)\ndf.rename(columns={"Mcap $": "Mcap2023billions"}, inplace=True)\ndf.rename(columns={"Type": "pub_priv"}, inplace=True)\ndf.rename(columns={"MFW": "MFW2023"}, inplace=True)\ndf.rename(columns={"PWF": "PFW2023"}, inplace=True)\ndf.rename(columns={"NYFF": "NYFW2023"}, inplace=True)'

In [665]:
#df

## Encapsulate ##

''' Also decided to drop Brand Sector and Subsector as there's only going to be a unique value, because this project only targets a Sector and Subsector, those being Fashion and Luxury.'''

In [666]:

def clean_dataset (df):

    ''' Function containing all the first cleaning steps for this dataset.'''

    df.drop(columns=["Unnamed: 0.1", "Unnamed: 0"], inplace=True)
    dropping_rows = [24, 18, 12]
    df.drop(index=dropping_rows, inplace=True)
    df.reset_index(drop=True, inplace=True)
    df.drop(columns=["Rank2001", "Rank2002", "Rank2003", "Rank2004", "Rank2005", "Rank2006", "Rank2007", "Rank2008", "Rank2009", "Rank2010", "Rank2011", "Rank2012", "Rank2013", "Rank2014", "Rank2015", "Rank2016"], inplace=True)
    df.drop(columns=["Equity2001", "Equity2002", "Equity2003", "Equity2004", "Equity2005", "Equity2006", "Equity2007", "Equity2008", "Equity2009", "Equity2010", "Equity2011", "Equity2012", "Equity2013", "Equity2014", "Equity2015", "Equity2016"], inplace=True)
    df.drop(columns=["GrowthRate2001", "GrowthRate2002", "GrowthRate2003", "GrowthRate2004", "GrowthRate2005", "GrowthRate2006", "GrowthRate2007", "GrowthRate2008", "GrowthRate2009", "GrowthRate2010", "GrowthRate2011", "GrowthRate2012", "GrowthRate2013", "GrowthRate2014", "GrowthRate2015", "GrowthRate2016"], inplace=True)
    df.drop(columns=["Rank", "BrandSector", "BrandSubSector"], inplace=True)
    df.rename(columns={"Social Visibility": "SocialVisibility2023"}, inplace=True)
    df.rename(columns={"Web Visibility": "WebVisibility2023"}, inplace=True)
    df.rename(columns={"Sentiment": "Sentiment2023"}, inplace=True)
    df.rename(columns={"Growth": "Growth2023"}, inplace=True)
    df.rename(columns={"Search": "Search2023"}, inplace=True)
    df.rename(columns={"Total": "Rank2023"}, inplace=True)
    df.rename(columns={"Mcap $": "Mcap2023billions"}, inplace=True)
    df.rename(columns={"Type": "pub_priv"}, inplace=True)
    df.rename(columns={"MFW": "MFW2023"}, inplace=True)
    df.rename(columns={"PWF": "PFW2023"}, inplace=True)
    df.rename(columns={"NYFF": "NYFW2023"}, inplace=True)
    
    return df

In [667]:
clean_df = clean_dataset(df)
clean_df.sample(3)

KeyError: "['Unnamed: 0.1'] not found in axis"

## Confirm data type and change if needed ##

In [ ]:
clean_df["Rank2017"].dtype

dtype('float64')

In [ ]:
clean_df["Equity2017"].dtype

dtype('float64')

In [ ]:
clean_df["GrowthRate2017"].dtype

dtype('float64')

In [ ]:
clean_df["WebVisibility2023"].dtype

dtype('float64')

In [ ]:
clean_df["Sentiment2023"].dtype

dtype('float64')

In [ ]:
clean_df["Rank2023"].dtype

dtype('float64')

In [ ]:
clean_df["Mcap2023billions"].dtype

dtype('O')

    ''' Only need to change the "Mcap2023billions" to be a float.'''

In [ ]:

def clean_cap(cap):

    ''' Function to extract digits and transform them to floats.'''

    p_match = re.search(r'\$?(\d+\.\d+)\s*b', str(cap))
    if p_match:
        digit = p_match.group(1)
        return float(digit)
    else:
        return 'unknown'

In [ ]:
#clean_df["Mcap2023billions"] = clean_df["Mcap2023billions"].apply(clean_cap)
#clean_df

In [ ]:

def extract_clean(clean_df):

    ''' Function to apply the regex function to the Market Capitalization and then save the final df to csv.'''

    clean_df["Mcap2023billions"] = clean_df["Mcap2023billions"].apply(clean_cap)
    clean_df.to_csv(f"../data/Luxury_Fashion.csv", index=False)
    return clean_df

In [ ]:
lf = extract_clean(clean_df)
lf.sample(15)

,Brand,BrandOriginCountry,BrandOriginRegion,Rank2017,Rank2018,Rank2019,Rank2020,Rank2021,Equity2017,Equity2018,...,WebVisibility2023,Sentiment2023,Growth2023,Search2023,Rank2023,Mcap2023billions,pub_priv,MFW2023,PFW2023,NYFW2023
22,Salvatore Ferragamo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8.06,54.06,9.64,5.13,78.51,2.48,Public,no,no,no
8,Calvin Klein,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,22.25,62.08,8.06,50.99,157.13,unknown,NaN,no,no,no
3,Chanel,France,Europe,NaN,23.0,22.0,21.0,22.0,NaN,20005.0,...,90.20,48.21,2.68,30.78,243.13,57.46,Private,no,yes,yes
16,Yves Saint Laurent,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,33.01,36.31,0.00,11.54,102.60,unknown,NaN,no,no,no
17,Jovani,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.87,72.29,10.29,1.77,85.55,unknown,NaN,no,no,no
5,Prada,Italy,Europe,94.0,95.0,100.0,99.0,94.0,4716.0,4812.0,...,34.19,38.19,56.09,16.69,166.68,12.0,Public,yes,no,yes
6,Fendi,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,14.63,58.47,65.87,16.09,165.80,unknown,NaN,yes,no,yes
14,Tory Burch,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5.56,79.04,0.00,25.57,112.29,5.16,Private,no,no,yes
4,Coach,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,56.64,64.26,0.00,41.18,171.37,unknown,NaN,no,no,yes
21,DKNY,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.49,67.95,0.00,6.38,80.20,unknown,NaN,no,no,no
10,Versace,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,28.79,39.09,13.95,30.17,133.68,unknown,NaN,no,no,yes
15,Armani,Italy,Europe,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,27.52,53.71,6.49,11.69,106.71,14.7,Private,no,no,no
13,Ralph Lauren,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,26.28,37.34,0.00,47.83,119.84,5.89,Public,no,no,yes
0,Hermes,France,Europe,32.0,32.0,28.0,28.0,23.0,14210.0,16372.0,...,67.57,100.00,100.00,87.88,373.85,130.4,Public,no,yes,no
20,Chloe,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,11.01,58.93,0.00,9.85,82.24,unknown,NaN,no,yes,no