In [1]:
import pandas as pd
import os
import numpy as np
import re
from collections import Counter
import matplotlib.pyplot as plt 
import seaborn as sb
from bs4 import BeautifulSoup
from urllib.request import urlopen
import requests

# GETTING THE DATAFRAMES I'M GOING TO WORK WITH #

1. Download the base dataframe

In [2]:
df = pd.read_csv("../data/Dataset Global Fashion Brands Brand Equity Ranking Growth Rate  COO ROO 2001-2021.csv")
df.sample(5)

,BrandName,BrandOriginCountry,BrandOriginRegion,BrandSector,BrandSubSector,Rank2001,Rank2002,Rank2003,Rank2004,Rank2005,...,GrowthRate2012,GrowthRate2013,GrowthRate2014,GrowthRate2015,GrowthRate2016,GrowthRate2017,GrowthRate2018,GrowthRate2019,GrowthRate2020,GrowthRate2021
23,Tiffany,U.S.A.,America,Fashion,Luxury,73.0,72.0,70.0,75.0,81.0,...,14.70,5.45,9.12,6.23,-8.64,-6.37,4.60,-5.44,-6.92,10.43
18,Cartier,Switzerland,Europe,Fashion,Luxury,NaN,NaN,NaN,91.0,89.0,...,14.93,25.51,8.00,6.38,-2.35,-2.47,1.31,7.14,-8.52,8.90
8,Boss,Germany,Europe,Fashion,Apparel,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,3.07,-100.00,NaN,NaN,NaN,NaN,NaN
0,Louis Vuitton,France,Europe,Fashion,Luxury,38.0,41.0,45.0,44.0,18.0,...,1.75,5.58,-9.40,-1.34,7.86,-4.50,22.83,14.46,-1.56,15.91
24,Levi's,U.S.A.,America,Fashion,Apparel,67.0,73.0,77.0,85.0,96.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

2. Web scrapping for 2nd dataframe

''' The next comments you'll find are unsuccessful tries to webscraping an url. It didn't work cause they're calling themselfs, tried to do it for a long time and fer found a way 
to download the csv directly so all the next steps until reading the next csv didn't serve but I didn't want to 
delete it cause I spent 3 hours trying to scrap the website.'''

In [3]:
'''url = 'https://www.brandwatch.com/brandwatch-index/luxury-fashion'
res = requests.get(url, timeout=5)
html = res.content
soup = BeautifulSoup(html, 'html.parser')'''

"url = 'https://www.brandwatch.com/brandwatch-index/luxury-fashion'\nres = requests.get(url, timeout=5)\nhtml = res.content\nsoup = BeautifulSoup(html, 'html.parser')"

In [4]:
'''def get_columns(soup):
    index = soup.find("div", {"class": "index-table__row__pos"})
    ind = index.find_all("h5")
    ind_processed = [i.getText() for i in ind]
    return ind_processed'''

'def get_columns(soup):\n    index = soup.find("div", {"class": "index-table__row__pos"})\n    ind = index.find_all("h5")\n    ind_processed = [i.getText() for i in ind]\n    return ind_processed'

In [5]:
'''get_columns(soup)'''

'get_columns(soup)'

In [6]:
'''ds = soup.find_all("li", {"class": "lindex-table__row index-table__row--body js-c-si-row"})
ds'''

'ds = soup.find_all("li", {"class": "lindex-table__row index-table__row--body js-c-si-row"})\nds'

In [7]:
'''url = "https://www.brandwatch.com/wp-content/uploads/2020/01/LuxFashion-Q42019.csv?rev=1698422964802"
res = requests.get(url)
res'''

'url = "https://www.brandwatch.com/wp-content/uploads/2020/01/LuxFashion-Q42019.csv?rev=1698422964802"\nres = requests.get(url)\nres'

In [8]:
'''res.content'''

'res.content'

In [9]:
'''import pandas as pd
url = 'https://www.brandwatch.com/brandwatch-index/luxury-fashion'
res = requests.get(url)
soup = BeautifulSoup(res.content, "html.parser")
soup'''

'import pandas as pd\nurl = \'https://www.brandwatch.com/brandwatch-index/luxury-fashion\'\nres = requests.get(url)\nsoup = BeautifulSoup(res.content, "html.parser")\nsoup'

In [10]:
'''ds = soup.find_all("li")
ds[20]'''

'ds = soup.find_all("li")\nds[20]'

2. 1 Finding another way to get the needed data.

    In this case downloaded as csv and imported with pandas

In [11]:
df_2= pd.read_csv("../data/LuxFashion-Q42019.csv")
df_2.sample(5)

,Brand,Social Visibility,Web Visibility,Sentiment,Growth,Search,Total
5,Prada,21.52,34.19,38.19,56.09,16.69,166.68
27,Dsquared2,1.04,2.41,51.40,0.00,3.13,57.98
13,Burberry,9.44,27.35,50.82,0.00,32.75,120.36
4,Coach,9.29,56.64,64.26,0.00,41.18,171.37
28,Paul Smith,1.34,11.18,22.62,1.09,11.19,47.42

3. Get the 3rd Dataframe by webscrapping

In [12]:
url = 'https://fashionunited.com/i/top200'
res = requests.get(url, timeout=5)
html = res.content
soup = BeautifulSoup(html, 'html.parser')

In [13]:
'''Function to get a table and transform it into a dataframe from an already requested link.'''

def get_table_web(soup):
    table =  soup.find("table")
    rows = table.find_all('tr')
    data = []
    for row in rows:
        cols = row.find_all('td')
        cols = [col.text for col in cols]
        data.append(cols)
    return pd.DataFrame(data, columns=['Index','Rank', 'Company', 'Mcap $', 'Type'])

In [14]:
'''Calling of the function'''

df_3 = get_table_web(soup)
df_3.sample(5)

        Index  Rank              Company   Mcap $     Type
26   \n\n\n\n    26              Primark  $9.89 b  Private
148  \n\n\n\n   148          Kurt Geiger  $1.02 b  Private
86   \n\n\n\n    86  Salvatore Ferragamo  $2.48 b   Public
0        None  None                 None     None     None
66   \n\n\n\n    66            OTB Group  $3.17 b  Private

4. Export the last dataframe to csv.

In [16]:
df_3.to_csv(f"../data/100_fashion_money.csv")